
<!-- Main content -->
<section class="content">
   <table width="100%" cellspacing="5" cellpadding="5">
        <tr>
            <td width="20%" align="right">
                <div class="content">
                    <ul>
                     
                              <img src="img/icon_Warning.png" alt="Permission" border="0" class="grayscale" />
                      
                    </ul>
                </div>
            </td>
            <td width="80%">
                <div class="container">
                    <span class="left">
                        <ul>
                            <li>Access Denied !</li>
                            <li><a>This Page is Under Construction.</a></li>
                            <li><a>Please wait until complete the contruction.</a></li>
                        </ul>
                    </span>
                </div>
            </td>
        </tr>
    </table>
	
</section>